body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9d5ff;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
}

.logo{
    position: relative;
    left: 25px;
}

li{
    display: inline;
}

a{
    color: rgb(39, 37, 37);
    text-decoration: solid;
}

.child:nth-child(1){
    position: relative;
    right: 125px;
}

.child:nth-child(2){
    position: relative;
    right: 100px;
}

.child:nth-child(3){
    position: relative;
    right: 75px;
}

.child:nth-child(4){
    position: relative;
    right: 50px;
}

.child:nth-child(5){
    position: relative;
    right: 25px;
}

.button{
    position: relative;
    right: 50px;
    background-color: #A855F7;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid rgb(54, 108, 224);
    transition: 0.25s;
    cursor: pointer;
    transition: 0.25s;
}

.button:hover{
    background-color: #942ff3;
}