 *{
    border: 0px;
    margin: 0px;
    padding: 0px;
}


button{
    height: 50px;
    width: 200px;

    border-radius: 30px;
    font-size: larger;
    background-color: aqua;

    position: relative;
    left: 40%;
}

img{
    width: 300px;

    position: relative;
    left: 690px;
}

button:hover{
    color: red;
}