*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent{
    width: 500px;
    height: 300px;
    border-radius: 25px;

    background-image: url(./TOKYO.jpg);
    background-size: cover;
    background-position: bottom;

    margin-left: 500px;
    margin-top: 190px;

    overflow: hidden;

    box-shadow: 5px 5px 60px;

    transition: 1s;
    
}

.parent:hover{
    box-shadow: -5px -5px 60px;
    width: 600px;
}

.child{
    height: 100%;
    padding: 100px;
    color: aliceblue;
    text-align: center;
    background-color: rgba(0, 100, 147, 0.6);

    text-shadow: 2px 4px 3px rgba(0, 0, 0, 1);
}

.child h1{
    font-size: 40px;
}

.child p{
    font-size: 20px;
}

