body{
    background: linear-gradient(135deg, #81FBB8, #28C76F);
}

#list-container {
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: 220px;
  }
  
.styled-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  
.list-item:last-child {
    border-bottom: none;
  }
  
.list-item:hover {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  